/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
}

/* Estilo para el encabezado */
header {
    background-color: #31df37; /* Verde brillante */
    color: #fff; /* Blanco */
    padding: 20px 10%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Estilo para la sección de información del jugador */
.player-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.player-photo {
    width: 200px; /* Tamaño de la foto aumentado */
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.player-details {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para la sección de rendimiento */
.performance {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Estilo para la sección de estadísticas */
.statistics {
    margin-bottom: 30px;
}

/* Estilo para el formulario de actualización de estadísticas */
.update-stats {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="number"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #31df37; /* Verde brillante */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #28c34b; /* Verde más oscuro en hover */
}

/* Estilo para la gráfica */
canvas {
    width: 100% !important;
    height: auto !important;
}
